
.idea/compiler.xml
.idea/discord.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
pom.xml
.idea/workspace.xml
target/classes/deMartiniFrancesco/projects/demartini_F_Jdbc/bin/Jdbc.class
target/classes/deMartiniFrancesco/projects/demartini_F_Jdbc/bin/JdbcTest.class
target/classes/deMartiniFrancesco/projects/demartini_F_Jdbc/file/JdbcEx02.class
target/classes/deMartiniFrancesco/projects/Main.class
